@model ForgetPasswordViewModel
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <h2>Reset Password Page</h2>
    <form method="post">
        <label>Please enter your Mail-Address</label>
        <input type="text" class="form-control" asp-for="Mail" />
        <br />
        <button class="btn btn-info">Submit</button>
    </form>
</div>