@model List<Destination>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2 style="text-align:center">Tour Destinations</h2>
<br />
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>City</th>
        <th>Price</th>
        <th>Capacity</th>
        <th>See on website</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.DestinationID</td>
            <td>@item.City</td>
            <td>$@item.Price</td>
            <td>@item.Capacity</td>
            <td><a href="" class="btn btn-outline-success">Home</a></td>
            <td><a href="" class="btn btn-outline-primary">Edit</a></td>
            <td><a href="" class="btn btn-outline-danger">Delete</a></td>
        </tr>
    }
</table>
<a href="/Admin/Destination/AddDestination/" class="btn btn-info">New Destination</a>