@model CreateGuideCommand
@{
    ViewData["Title"] = "AddGuide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <label>Name</label>
    <input type="text" class="form-control" asp-for="Name"/>
    <br />
    <label>Description</label>
    <textarea rows="5" cols="5" class="form-control"></textarea>
    <br />
    <button class="btn btn-outline-info">Submit</button>
</form>
