
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="text-align:center;color:red">Excel Reports</h2>
<br />
<a href="/Reports/ExcelReport/" class="btn btn-outline-info">Tour Destinations Reports</a>
<br />
<a href="/Reports/PdfReport/" class="btn btn-outline-warning">Tour Destinations Pdf</a>