@{
    Layout = null;
}

<!doctype html>
<html lang="zxx">

@await Html.PartialAsync("~/Views/Partial/_Head.cshtml")


<body>

    @await Html.PartialAsync("~/Views/Partial/_Header.cshtml")

    @RenderBody()

    @await Html.PartialAsync("~/Views/Partial/_Footer.cshtml")

    @await Html.PartialAsync("~/Views/Partial/_Scripts.cshtml")

</body>

</html>