
<div class="leave-comment-form mt-5" id="reply">
    <h4 class="side-title mb-2">Leave a Reply</h4>
    <p class="mb-4">
        Your email address will not be published. Required fields are marked *
    </p>
    <form method="post" asp-asp-controller="Comment" asp-action="AddComment">
        <input type="hidden" name="DestinationID">
        <div class="form-group">
            <textarea name="Content" class="form-control" placeholder="Your Comment*"
                      spellcheck="false"></textarea>
        </div>

        <div class="submit text-right"> 
            <button class="btn btn-style btn-primary">Post Comment </button>
        </div>
    </form>
</div>