@model Guide
@{
    ViewData["Title"] = "EditGuide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="text-align:center">Edit Guide</h2>
<br />
<form method="post">
    <input type="hidden" asp-for="GuideID" />
    <label>Name</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>Description</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />
    <label>Image</label>
    <input type="text" asp-for="Image" class="form-control" />
    <br />
    <label>Instagram Url</label>
    <input type="text" asp-for="InstagramUrl" class="form-control" />
    <br />
    <label>Twitter Url</label>
    <input type="text" asp-for="TwitterUrl" class="form-control" />
    <br />
    <button class="btn btn-warning">Save</button>
</form>

